@font-face {
  font-family: 'PT Sans';
  src: url('PTSans-Regular.ttf');
}
@font-face {
  font-family: 'JosefinSlab';
  font-weight: 900;
  src: url('JosefinSlab-SemiBold.ttf')
}
@font-face {
  font-family: 'Monsterrat';
  src: url('MontserratAlternates-Bold.ttf')
}
@font-face {
  font-family: 'RobotoSlab';
  src: url('RobotoSlab-ExtraBold.ttf');
}
@font-face {
  font-family: 'Prompt';
  src: url('Prompt-Medium.ttf')
}
@font-face {
  font-family: 'Muli';
  src: url('Muli-Bold.ttf')
}
@font-face {
  font-family: 'Raleway';
  src: url('Raleway-SemiBold.ttf')
}