<section class="question-text_container">
    <div id="question_text">
        <span></span>
    </div>
</section>
<hr class="break-line">
<section class="answert-choice_container">
    <div class="question-item-info sort">
        <span></span>
    </div>
    <div class="question-item-info total">
        <span></span>
    </div>
    <form id="qualit-answer">
        <fieldset>
            <textarea name="answer" id="id_answer" cols="80" rows="10" placeholder="Enter your response"></textarea>
        </fieldset>
    </form>
</section>