@import 'topbar-footbar.css';
@import '../../fonts/fonts.css';
@import 'icons-svg.css';

:root {
    font-size: calc(15px);
    --primary-color: #ffffe0;
    --secondary-color: #399039;
    --color-one: rgb(255, 174, 23);
    --color-two: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Prompt;
    background-color: var(--primary-color);
    transition: filter 200ms ease-out;
}

a {
    text-decoration: none;
}

main.main-content {
    padding: 3.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media only screen and (max-height: 480px) {
    main.main-content {
        height: 480px;
    }
}

@media only screen and (max-width: 380px) {
    :root {
        font-size: calc(14px);
    }
}

@media only screen and (max-width: 255px) {
    main.main-content {
        width: 255px;
    }

}

@media only screen and (min-width: 980px) {
    :root {
        font-size: calc(17px);
    }
}

::-webkit-scrollbar {
    display: none;
}

svg,
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

img {
    cursor: default;
}