section.topbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3.4rem;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--color-two);
    z-index: 50;
    padding: 10px;
}

section.topbar>div.block-grid {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
}

div.block-grid>section.website-name {
    height: 100%;
    width: fit-content;
    padding: 0.05rem;
    font-family: Monsterrat;
    color: var(--primary-color);
    font-size: 1.3rem;
    height: fit-content;
}

@media only screen and (max-width: 328px) {
    section.topbar {
        padding: 5px 10px;
        height: 4.7rem;
    }
}

@media only screen and (max-width: 320px) {
    section.topbar>*>section {
        line-height: 1.3rem;
    }
}

@media only screen and (max-width:255px) {
    section.topbar {
        width: 255px;
    }
}