
<section class="farewell-message_container">
<div class="farewell-message_text">
    {{message}}
</div>
</section>
<section class="proceed-btn_container">
    <div class="proceed-btn_box">
        <div class="proceed-notice-message_container">
            I understand that my answers will be set for submission after clicking this button
        </div>
        <div class="proceed-btn_wrapper">
            <label for="confirm-check" class="confirm-btn-wrapper">
                <input type="checkbox" name="confirm-btn" id="confirm-check" class="proceed-check_input">
                <span class="confirm-btn">CONFIRM</span>
            </label>
        </div>
    </div>
</section>