@import "components.css/misc-question.css";
@import "components.css/user-form.css";

section#welcome-wrapper,
section#question-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

section#welcome-wrapper {
    display: block;
}

section#question-wrapper {
    display: none;
}

/*==============
HIDE ALL TEXT AFTER LAST QUESTION SURVEY SUBMISSION
==============*/

main.poll-container_main.is-user-form>section.question-text_container,
main.poll-container_main.is-user-form>section.answert-choice_container,
main.poll-container_main.is-user-form>hr.break-line,
main.poll-container_main.is-question-form>section.question-text_container,
main.poll-container_main.is-question-form>section.answert-choice_container,
main.poll-container_main.is-question-form>hr.break-line,
main.poll-container_main.is-user-form>section.farewell-panel_container {
    display: none;
}


/*==============
QUESTION TEXT
==============*/

main.poll-container_main>section.question-text_container {
    padding: 0.5rem;
    min-height: 8rem;
    width: 100%;
}

section.question-text_container>div {
    font-family: Prompt;
    font-size: 1.2rem;
    color: var(--color-one);
    text-align: center;
    min-height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin: auto;
}

div#question_text>span {
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
    transition: 100ms ease-out;
    transition-property: transform, background-color, color;
}

div#question_text:hover>span {
    background-color: var(--color-one);
    color: var(--color-two);
    transform: scale(1.02);
    cursor: default;
}

/*==============
BREAK LINE
==============*/

hr.break-line {
    width: 95%;
    border: 0.1rem solid var(--primary-color);
    height: 0.2rem;
    background-color: var(--primary-color);
    margin: auto;
    border-radius: 0.3rem;
}




/*==============
LIKERT SCALE
==============*/

section.answert-choice_container {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.answert-choice_container {
    display: grid;
    min-height: 6.7rem;
    grid-template-areas:
        "q-curr q-total"
        "answert answert";
    align-items: center;
    margin-top: 0.3rem;
}

div.question-item-info>span {
    font-size: 0.8rem;
    color: var(--primary-color);
}

div.question-item-info>span>span {
    color: #fdc254;
    font-size: 0.9rem;
    font-weight: 700;
}

div.question-item-info.sort {
    grid-area: q-curr;
    padding-left: 1.9rem;
    justify-self: start;
}

div.question-item-info.total {
    grid-area: q-total;
    padding-right: 1.9rem;
    justify-self: end;
}

form#qualit-answer {
    grid-area: answert;
    padding: 0rem 0.4rem 1rem;
}

form#qualit-answer>fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border: none;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    margin: 0rem 1.3rem 0;
    padding: 0.4rem 1.2rem;
    border-radius: 0.2rem;
}

fieldset>textarea#id_answer {
    width: 100%;
    background-color: transparent;
    border-radius: 0.3rem;
    border: 0.15rem solid transparent;
    font-family: Prompt, 'Times New Roman', Times, serif;
    resize: none;
    /* max-width: 65vw; */
    min-width: 70%;
    transition: 120ms ease-out;
    transition-property: background-color tranform border-color color;
    outline: none;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    white-space: pre-line;
}

fieldset>textarea#id_answer.pulse {
    /* filter: brightness(1.3); */
    background-color: #ff577780;
    ;
}

fieldset>textarea#id_answer:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--color-one);
}

fieldset>textarea#id_answer:focus {
    /* background-color: #0b1521b8; */
    background-color: ivory;
    border-color: goldenrod;
    color: var(--color-two);
}

fieldset>textarea#id_answer:focus::-webkit-input-placeholder,
fieldset>textarea#id_answer:focus::-moz-placeholder,
fieldset>textarea#id_answer:focus:-moz-placeholder,
fieldset>textarea#id_answer:focus:-moz-input-placeholder,
fieldset>textarea#id_answer:focus::placeholder {
    color: red;
    opacity: 1;
}


/*===================
POLL NAVIGATION
====================*/

div.poll-navi-btns_container {
    display: flex;
    align-items: center;
    background-color: var(--color-one);
    border-radius: 0.5rem;
    transition: 150ms ease-out;
    transition-property: width, background-color;
    cursor: pointer;
    width: 34px;
}

div.poll-navi-btns_container.left {
    grid-area: btn-left;
    margin-right: 0.5rem;
}

div.poll-navi-btns_container.right {
    grid-area: btn-right;
    margin-left: 0.5rem;
}

div.poll-navi-btns_container[show="false"].left,
div.poll-navi-btns_container[show="false"].right {
    width: 0;
}

div.poll-navi-btns_container[state="submit"].right:not(.confirmed) {
    opacity: 0.4;
    background-color: grey;
}

div.width-navi-btns_container[show="false"]>svg {
    width: 0;
}

div.poll-navi-btns_container[show="true"] {
    transform: scaleX(1);
}

div.poll-navi-btns_container:hover {
    transform: scale(1.03);
}

div.poll-navi-btns_container.right:hover {
    background-color: rgb(60, 179, 13);
}

div.poll-navi-btns_container.left:hover {
    background-color: rgb(64, 116, 138);
}

/*===================
FAREWELL MESSAGE
====================*/

section.farewell-panel_container {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 3rem;
}

section.farewell-message_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.2rem;
    margin: 0.2rem;
    min-height: 7.5rem;
    padding: 0.7rem 0;
    transition: all 100ms ease-out;
}

div.farewell-message_text {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.3rem;
    width: 95%;
}

section.farewell-message_container:hover,
section.proceed-btn_container:hover {
    background-color: #f2cb57;
    color: var(--color-two);
    transform: scale(1.01);
    cursor: default;
}

section.proceed-btn_container {
    transition: all 100ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    margin: 2rem auto 0;
    min-height: 8rem;
    width: 70%;
}

div.proceed-btn_box {
    min-height: 7rem;
    padding: 1rem 4%;
}

div.proceed-notice-message_container {
    font-size: 0.95rem;
    font-family: Muli;
    text-align: center;
    margin: 0.2rem 0;
    padding: 0 0.2rem;
}

div.proceed-btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0.8rem 0 0;
}

label.confirm-btn-wrapper {
    font-family: Prompt;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

label.confirm-btn-wrapper>input[type="checkbox"] {
    display: none;
}

label.confirm-btn-wrapper>span.confirm-btn {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    color: #fe4e00a3;
    border: 0.2rem solid #fe4e00a3;
    border-radius: 0.2rem;
    padding: 0.4rem 0.8rem 0.4rem 1.85rem;
    transition: all 0.3s ease;
    cursor: pointer;
    line-height: 1.47rem;
}

label.confirm-btn-wrapper>span.confirm-btn:before {
    position: absolute;
    margin: auto;
    top: 0.73rem;
    left: 0.75rem;
    right: auto;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    content: "";
    background-color: #fe4e00a3;
    transition: all 0.3s ease;
}

input#confirm-check:checked+span.confirm-btn {
    background-color: #57bf2ff0;
    border-color: #57bf2ff0;
    color: var(--primary-color);
}

input#confirm-check:checked+span.confirm-btn:before {
    background-color: var(--primary-color);
}

/*===================
SCREEN BREAKPOINTS
====================*/

@media only screen and (max-width: 730px) {
    section.farewell-panel_container {
        padding: 2rem 1.1rem;
    }

    div.farewell-message_text {
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 0 0.7rem;
    }

    section.proceed-btn_container {
        max-width: 85%;
        width: 100%;
        margin: 0 auto;
    }

    div.proceed-notice-message_container {
        font-size: 0.80rem;
    }

}

@media only screen and (max-width: 320px) {
    div.poll-container_base.end {
        display: flex;
    }

    div.poll-navi-btns_container {
        height: 2.4rem;
        justify-self: stretch;
        align-items: center;
    }

    div.poll-navi-btns_container.left {
        justify-content: start;
        width: 100%;
        margin: 0;
    }

    div.poll-navi-btns_container.right {
        justify-content: flex-end;
        width: 100%;
        margin: 0;
    }
}