:root {
    --primary-color-l: #404040;
    --primary-color-d: #333333;
    --secondary-color-l: #ffc457;
    --secondary-color-d: #f2a619;
    --font-color: #fcfcec;
    --color-hover-one: #31ffd1;
    --color-selected: #80c1b3;
}