/*==============
USER FORM CONTAINER
==============*/

section.user-form_container {
    transition: opacity 140ms ease-in;
}

form#user-form {
    padding: 0;
    margin: auto;
}

form#user-form>fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    border: transparent;
    width: fit-content;
    margin: 0 auto;
    margin-top: -0.5rem
}

form#user-form>fieldset>div.input_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    min-height: 3.5rem;
}

form#user-form>fieldset>div.input_container:not(:first-child) {
    margin-top: 0.4rem;
}

form#user-form div.input_container>label {
    justify-self: start;
    font-size: 0.8rem;
    color: var(--primary-color);
}

form#user-form div.input_container>input {
    border-radius: 0.3rem;
    font-family: Prompt;
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    outline: none;
    background-color: antiquewhite;
    border: 0.25rem solid #83b983;
    transition: transform 100ms ease-out;
    width: 18rem;
}

/* SEX INPUT CONTAINER */

div.sex-input>label {
    text-align: center;
}

div.sex-input>fieldset {
    margin-top: 0.2rem;
    border: solid 0.1rem transparent;
    display: grid;
    grid-template-areas: "male female";
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

div.input_container label>input[type="radio"] {
    display: none;
}

div.sex-input label>div.sex-choice {
    border-radius: 0.7rem;
    color: var(--primary-color);
    padding: 0.3rem 0.7rem;
    transition: all 100ms ease-out;
    cursor: pointer;
}

div.sex-input label:nth-child(1) {
    justify-self: end;
}

div.sex-input label:nth-child(2) {
    justify-self: start;
}

div.sex-input label>input[type="radio"]:checked+div.sex-choice {
    transform: scale(1.05);
    background-color: #b7dcb7;
    color: #339d33
}

form#user-form div.input_container.pulse>input[not-valid="true"],
form#user-form div.input_container.pulse>fieldset>label>input[not-valid="true"]+div {
    transform: scale(1.05);
    filter: brightness(1.2);
    /* background-color: #fb768e; */
}

div.sex-input label:hover div.sex-choice,
form#user-form div.input_container>input:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 440px) {
    form#user-form div.input_container>input {
        min-width: 13rem;
        max-width: 16rem;
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    form#user-form>fieldset>div.input_container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 320px) {}