 <fieldset>
    <div class="scale-items_container">
        <input type="radio" name="likert-scale" id="highly_disagree" value="1">
        <input type="button" value="Highly Disagree" id="highly_disagree_btn">
    </div>
    <div class="scale-items_container">
        <input type="radio" name="likert-scale" id="disagree" value="2">
        <input type="button" value="Disagree" id="disagree_btn">
    </div>
    <div class="scale-items_container">
        <input type="radio" name="likert-scale" id="neutral" value="3">
        <input type="button" value="Neutral" id="neutral_btn">
    </div>
    <div class="scale-items_container">
        <input type="radio" name="likert-scale" id="agree" value="4">
        <input type="button" value="Agree" id="agree_btn">
    </div>
    <div class="scale-items_container">
        <input type="radio" name="likert-scale" id="highly_agree" value="5">
        <input type="button" value="Highly Agree" id="highly_agree_btn">
    </div>
</fieldset> 