svg.poll-navi-btn
{
    width: 2rem;
    height: 4rem;
    transform: scaleX(0.7);
    fill: var(--primary-color);
}

@media only screen and (max-width: 328px)
{
    svg.poll-navi-btn
    {
        width: 2rem;
        height: 2rem;
        transform: scaleX(1);
    }
}



/* svg.poll-navi-btn.right
{
    margin-left: -0.6rem
} */

/* svg.poll-navi-btn.left
{
    margin-right: -0.6rem;
} */